<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>📖 Book Details</h1>

<!-- Show details if the book exists -->
<div th:if="${book.title != 'Book not found'}">
    <p><strong>ID:</strong> <span th:text="${book.id}"></span></p>
    <p><strong>Title:</strong> <span th:text="${book.title}"></span></p>
    <p><strong>Pages:</strong> <span th:text="${book.nbPage}"></span></p>
       <p><strong>Author:</strong> <span th:text="${book.author. fullName}"></span></p>
</div>

<!-- Show error if the book is missing -->
<p th:if="${book.title == 'Book not found'}" style="color:red;">
    ❌ Book not found.
</p>
<a th:href="@{/books}">Go back to List Books</a>
</body>
</html>